* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;col
  box-sizing: border-box;
}

.extentsize {
  width: 140px;
}
.weather-main-wrapper {

  width: 100%;
  height: 100%;
  position: abolute;
  overflow: hidden;
  background-image: url(../img/paris-sm.jpg);
  background-position: 50% 90%;
  color: #fff;
  font-family: 'Roboto', sans-serif;




}


.weather-header-block {
  width: 100%;
  height: 30%;
  position: relative;
  

}



.weather-block-info {
    float:left;
    margin: 0 auto; 
    padding-right: 5px;
    padding-left : 5px;
    width: 33%;
    height: 70%;

    
  
}

/* info */
.weather-block-info > li {
  float: left;
  width: 30%;
  height: 70%;
  margin: 0 5px;
  position: relative;
  /*margin-top: 20px;*/
}



.weather-params {
  opacity: 0.75;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75);
  list-style: none;
  margin: 0;
  padding: 0;
  
  position: absolute;
  top: 60%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.weather-params > li {
  overflow: hidden;
}
.weather-params > li .climacon {
     
  display: block;
  font-size: 30px;
  float: left;
  margin-right: 10px;
  line-height: 30px;
  height: 30px;
  width: 37px;
  text-align: center;
}
.weather-params > li span {
  position: relative;
  top: 10px;
  font-weight: 300;
}



/*temperature*/

.weather-block-content {
 
 height: 100%;
 width:  100%;
 position: relative;


}

.weather-temperature {
  top: 0px;
  text-align: right;
  vertical-align: text-top;
  margin: 0;
  font-size: 100px;
  height: 100%;
  
  position: relative;
  font-weight: 100;

}
.weather-temperature:after {
  content: '';
  top: 0px;
  right: -15px;
  height: 10px;
  width: 10px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #fff;
  line-height: 1;
  position: absolute;
  opacity: 0.85;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
  filter: alpha(opacity=85);
}
.weather-temperature:before {
  content: '+';
  left: 20px;
  font-size: 60px;
  position: relative;
  top: -24px;
  padding-right: 20px;
}
.weather-temperature.minus:before {
  content: '-';
}
.weather-temperature-feels {
  position: absolute;
  font-size: 15px;
  bottom: 30px;
  right: 12px;
  font-weight: 300;
  line-height: 1em;
  color: rgba(255,255,255,0.85);
}
.icons{


    margin-left: 10px;
    margin-right: 10px;

}

#weather-icon{
  top: 0px;
  right: 0px;
  left: -15px;
  height: 120px;
  width: 180px;

}

.weather-legend{
  font-size: 12px;
  height: 50px;
  width: 180px;
  text-align: center;


}

/*background*/
.weather-mask {
  
  width: 100%;
  height: 100%;
  background: #000;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  z-index: 2;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}

/*weather-anime*/

.weather-anime {
  opacity: 0.75;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75);
  

  margin: 0;
  margin-top: 20px;
  padding: 0;
   
  top: 60%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}



/*date*/


.weather-today {
 /* position: absolute; */
  font-weight: 300;
  font-size: 25px;
  text-align: left;
  width: 100%;
  margin: 0;

  top: 5px;
  left: 5px;
  position: absolute;
}
